@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200italic");

html, body {
	padding: 0;
	height: 100%;
}

body {
	margin: 0 auto;
	color: #333;
	font-size: 16px;
	font-family: "Georgia", "Times", serif;
	line-height: 1.4em;
	background: #F2F2F2;
}

img {
	border: 0;
}

p, time {
	margin: .6em 0;
	position: relative;
}

h1, h2 {
	font-size: 1em;
	margin-bottom: .2em;
	margin-top: 1.2em;
	font-weight: normal;
	font-family: courier, monospace, serif;
	text-transform: uppercase;
	font-size: 14px;
}

header.shell h1 img {
	border: 0;
	background: transparent;
	width: 460px;
	height: 179px;
	margin: 1em 0 0 26.5em;
}

h1 a {
	text-decoration: none;
}

a {
	color: #1f3d59;
	text-decoration: underline;
}

.intro figure {
	float: right;
	margin: 0 0 20px 20px; 
}

.intro figure figcaption {
	color: #888;
	font-family: courier, monospace, serif;
	font-size: 11px;
	line-height: 1;
	text-align: right;
	display: block;
	margin: 5px 5px 0 0;
}

.lineup {
	font-size: 0;
	padding: 15px 10px 15px 0;
	position: relative;
	height: 572px;
}

.lineup figure {
	vertical-align: top;
	display: inline-block;
	position: relative;
	margin: 0 0 0 11px;
}

.lineup figure figcaption {
	color: #888;
	font-family: courier, monospace, serif;
	font-size: 11px;
	line-height: 1;
	text-align: right;
	display: block;
	margin: 5px 5px 0 0;
}

.lineup figure img {
	height: auto;
	display: block;
}

.lineup figure:nth-child(1) {
	top: 92px;
}

.lineup figure:nth-child(1) img {
	width: 286px;
}

.lineup figure:nth-child(2) {
	top: 54px;
	width: 208px;
}

.lineup figure:nth-child(2) img {
	width: 208px;
}

.lineup figure:nth-child(3) {
	top: 199px;
}

.lineup figure:nth-child(3) img {
	width: 219px;
}

.lineup figure:nth-child(4) {
	top: 215px;
}

.lineup figure:nth-child(4) img {
	width: 232px;
}

.lineup figure:nth-child(5) {
	top: 15px;
	position: absolute;
	right: 90px;
}

.lineup figure:nth-child(5) img {
	width: 309px;
}

.fancybox-title {
	font-family: courier, monospace, serif;
	font-size: 14px;
}

.fancybox-title-float-wrap {
	bottom: auto;
}

.fancybox-title-float-wrap .child {
	background: transparent;
	text-shadow: none;
	color: #333;
	font-weight: normal;
	line-height: 20px;
}

.fancybox-nav span {
		visibility: visible;
}

.fancybox-nav {
		width: 50px;
}

.fancybox-prev {
		left: -50px;
}

.fancybox-next {
		right: -50px;
}

figure.timed-audio {
	line-height: 0;
	margin: 2em 0;
}

figure.timed-audio figcaption {
	position: relative;
	height: 105px;
}

figure.timed-audio figcaption div {
	position: absolute;
	top: 0;
	width: 230px;
	border-left: 1px solid #999;
	padding: 18px 0 0 10px;
}

figure.timed-audio figcaption time {
	margin: 0 0 1em;
	font-size: 11px;
}

figure.timed-audio figcaption span {
	font-family: courier, monospace, serif;
	font-size: 11px;
	line-height: 1.1;
}

figure.timed-audio figcaption div:nth-child(1) {
	left: 8px;
}

figure.timed-audio figcaption div:nth-child(2) {
	left: 278px;
}

figure.timed-audio figcaption div:nth-child(3) {
	left: 518px;
	padding-top: 70px;
}

figure.timed-audio figcaption div:nth-child(4) {
	left: 566px;
}

figure.timed-audio figcaption div:nth-child(5) {
	left: 739px;
}

figure.timed-audio figcaption div:nth-child(6) {
	left: 947px;
}

.shell, article.main {
	width: 1000px;
	margin: 1em auto;
	position: relative;
	clear: both;
}

article.main section.flow {
	text-align: justify;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-left: 550px;
	margin-bottom:
}

article.main section.flow img, article.main section.flow .video {
	width: 400px;
	position: absolute;
	left: -500px;
}

article.main h1, article.main h2 {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 200;
	line-height: 1.2;
}

article.main h1 {
	font-size: 36px;
}

article.main h2 {
	font-size: 24px;
	margin-top: 3.5em;
}

article.main p.note {
	font-family: courier, monospace, serif;
	font-size: 13px;
	color: #333;
	margin: 0;
}

article p.thanks {
	font-style: italic;
	margin-bottom: 330px;
	padding-top: 4em;
}

time {
	display: block;
	font-family: courier, monospace, serif;
	font-size: 14px;
	margin: 3em 0 -.65em 0;
}

footer.shell {
	padding: 3em 0 2em 0;
	font-family: courier, monospace, serif;
	font-size: 14px;
	line-height: 1.2;
}